# OS / editor
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs / temp
*.log
*.swp
*.tmp

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
.packages
/build/
/coverage/
**/doc/api/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/generated_plugin_registrant.dart
android/**/outputs/
android/**/build/
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore

# iOS
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/.last_build_id
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/Pods/
macos/.symlinks/
macos/.flutter-plugins
macos/.flutter-plugins-dependencies
macos/.last_build_id
macos/build/

# Windows / Linux
windows/flutter/ephemeral/
windows/build/
linux/flutter/ephemeral/
linux/build/

# Secrets
.env
.env.*

